.Menubar {
  width: 100%;
  background: #565656;
  color: white;
}

.Menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Menubar ul .menuItem {
  padding: 14px 20px;
  float: left;
}

.Menubar ul a {
  text-decoration: none;
  color: white;
}

.Menubar ul .menuItem:hover {
  background: #158dd3;
  cursor: pointer;
}

.language {
  float: right;
  padding: 14px 14px;
}

.language:hover {
  cursor: pointer;
  background: #158dd3;
}

.active {
  background: #0c78b7;
}