.Blog {
  position: relative;
  background-color: #565656;
  color: white;
  width: 1000px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  overflow: hidden;
  height: auto;
  display: table;
}

.blogContentWrapper {
  padding: 8px 8px;
}

.blogTitle {
  margin: 8px;
}

.blogContentTitle {
  padding: 8px 7px;
  font-size: 20px;
}

.blogContent {
  text-align: justify;
  padding: 8px 7px;
}

.contentSocialFooter {
  background: #2da019;
  border-radius: 4px;
  padding: 8px;
}

.availableText {
  font-size: 12px;
  float: right;
  line-height: 22px;
}