.About {
  position: relative;
  background-color: #565656;
  color: white;
  width: 1000px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  overflow: hidden;
  height: auto;
  display: table;
}

.Content {
  width: 700px;
  display: table-cell;
}

.aboutTitle {
  margin: 8px;
  margin-bottom: 0px;
  color: white;
  padding: 12px 15px;
  background: #0c78b7;
}

.aboutContentWrapper {
  background: rgba(1, 1, 1, 0.2);
  margin: 8px 8px 8px 8px;
}

.aboutContent {
  
  padding: 8px 15px 8px 15px;
  text-align: justify;
}