.Gallery {
  position: relative;
  background-color: #565656;
  color: white;
  width: 1000px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  overflow: hidden;
  height: auto;
  display: table;
}

.galleryTitle {
  margin: 8px;
}

.galleryContentWrapper {
  height: 368px;
  padding: 8px;
}
