.Gallery {
  position: relative;
  background-color: #565656;
  color: white;
  width: 1000px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  overflow: hidden;
  height: auto;
  display: table;
}

.galleryTitle {
  margin: 8px;
}

.galleryContentWrapper {
  height: 1537px;
  padding: 8px;
}

.gallerySocialWrapper {
  clear: both;
  position: relative;
  margin-top: 8px;
  width: 100%;
  float: left;
}

.albumTitle {
  padding: 8px 0px 8px 15px;
  background: rgba(1, 1, 1, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
}

#myCatchesGallery {
  height: 368px;
}

#naturePhotosGallery {
  height: 184px;
}

#guestsPhotosGallery {
  height: 552px;
}

#competitionPhotosGallery {
  height: 184px;
}

.naturePhotos {
  clear: both;
  margin-top: 8px;
}

.guestsPhotos {
  clear: both;
  margin-top: 8px;
}

.competitionPhotos {
  clear: both;
  margin-top: 8px;
}
