.Sidebar {
  background-color: #565656;
  position: relative;
  height: 100%;
  display: table-cell;
}

.sidebarContent {
  margin: 8px 0px;
}

.Sidebar iframe {
  border-radius: 4px !important;
  border: 1px solid #2da019 !important;
}

.sidebarContact {
  background: rgba(1, 1, 1, 0.2);
  margin: 0px 8px 8px 0px;
  border-radius: 4px;
  border: 1px solid #2da019;
  padding: 8px;
  float: left;
  width: calc(100% - 26px);
}

.sidebarIcon {
  width: 30px;
  text-align: center;
  background: red;
  height: 30px;
  line-height: 34px;
  border-radius: 4px;
  background: #2da019;
  float: left;
}

.sidebarInfoText {
  float: left;
  padding-left: 20px;
  line-height: 30px;
}

.sidebarNextLine {
  clear: both;
  height: 30px;
  padding-top: 8px;
}