@import url('https://fonts.googleapis.com/css?family=Yantramanav');

.App {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Yantramanav', sans-serif;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  -moz-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
}

.Menubar {
  width: 100%;
  background: #565656;
  color: white;
}

.Menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Menubar ul .menuItem {
  padding: 14px 20px;
  float: left;
}

.Menubar ul a {
  text-decoration: none;
  color: white;
}

.Menubar ul .menuItem:hover {
  background: #158dd3;
  cursor: pointer;
}

.language {
  float: right;
  padding: 14px 14px;
}

.language:hover {
  cursor: pointer;
  background: #158dd3;
}

.active {
  background: #0c78b7;
}

.swipeView {
  height: 350px;
  background: blue;
}

.first {
  background-image: url('./Images/1.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 30%;
}

.second {
  background-image: url('./Images/2.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 50%;
}

.third {
  background-image: url('./Images/3.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 50%;
}