@import url('https://fonts.googleapis.com/css?family=Yantramanav');

.App {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Yantramanav', sans-serif;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  -moz-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  margin-bottom: 40px;
  border-radius: 4px;
}

.Menubar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #565656;
  color: white;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  margin-right: 8px;
  border: 1px solid #2da019;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.1s;
}

.dropbtn:hover {
  cursor: default;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #36bd1e;
  transition: 0.1s;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content a {
  margin-right: 0px;
  color: white !important;
  border: 1px solid #2da019;
  margin-bottom: 8px; 
}

.dropdown-content {
  padding: 8px;
  padding-bottom: 0px;
  background: #565656;
  margin-top: 0px;
  width: 984px;
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 950px;
  float: left;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #36bd1e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menuItemIcon {
  margin-right: 8px;
}

.entryTitle {
  float: left;
}

.menuItem:hover .entryTitle {
  background: #36bd1e;
  transition: 0.1s;
}

.entryDate {
  float: right;
}

.language {
  border-radius: 4px;
  float: right;
  margin-left: 8px;
  padding: 10px 10px;
  border: 1px solid #2da019;
  transition: 0.1s;
}

.language:hover {
  cursor: pointer;
  background: #36bd1e;
}

.active {
  background: #2da019;
}

.swipeView {
  height: 350px;
}

.first {
  background-image: url('./Images/1.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 28%;
}

.second {
  background-image: url('./Images/2.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 50%;
}

.third {
  background-image: url('./Images/3.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 24%;
}

.pageTitleContent {
  padding: 18px 0px;
}

.pageTitle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 250px;
  text-align: center;
  color: white;
  font-size: 28px;
  padding: 10px;
  background: #2da019;
}

.pageOwner {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 250px;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 6px;
  padding: 5px 10px;
  background: #2da019;
}

.title {
  border-radius: 4px;
  margin: 8px 8px 0px 0px;
  color: white;
  padding: 12px 15px;
  background: #2da019;
}

.Content {
  width: 700px;
  display: table-cell;
}

.contentWrapper {
  background: rgba(1, 1, 1, 0.2);
  border-radius: 4px;
  margin: 8px 8px 8px 8px;
  border: 1px solid #2da019;
}

.compContent {
  padding: 8px 15px 8px 15px;
  text-align: justify;
}

.tile {
  border-radius: 5px;
}

.tile-viewport {
  border-radius: 4px;
}

.tile-overlay {
  border-radius: 5px;
}

.tile-icon-bar {
  display: none;
}

.custom-overlay {
  padding: 5px; 
}

.News {
  position: relative;
  background-color: #565656;
  color: white;
  width: 1000px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  overflow: hidden;
  height: auto;
  display: table;
}

.newsTitle {
  margin: 10px 12px;
}

.newsContent {
  text-align: justify;
  margin: 8px 12px;
}

.newsContentWrapper {
  margin: 0px 8px ;
  float: left;
}

.readMoreContent a {
  text-decoration: none;
  color: white;
}

.readMoreContent {
  margin: 0px 8px 8px 8px;
  background: #2da019;
  border-radius: 4px;
  color: white;
  width: calc(100% - 16px);
  float: left;
}

.readMoreText {
  padding: 8px 18px;
  float: right;
}

.readMoreText:hover {
  background: #36bd1e;
  border-radius: 4px;
}

.readMoreIcon {
  margin-right: 12px;
}

.titleIcon {
  margin-right: 10px;
}