@import url('https://fonts.googleapis.com/css?family=Yantramanav');

.App {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Yantramanav', sans-serif;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  -moz-box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  box-shadow: 0px 0px 29px 0px rgba(82,82,82,1);
  margin-bottom: 40px;
  border-radius: 4px;
}

.Menubar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #565656;
  color: white;
  padding: 8px;
}

.Menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Menubar ul .menuItem {
  padding: 10px 20px;
  margin-right: 8px;
  border-radius: 4px;
  float: left;
  border: 1px solid #0c78b7;
}

.Menubar ul a {
  text-decoration: none;
  color: white;
}

.Menubar ul .menuItem:hover {
  background: #158dd3;
  cursor: pointer;
}

.language {
  border-radius: 4px;
  float: right;
  margin-left: 8px;
  padding: 10px 10px;
  border: 1px solid #0c78b7;
}

.language:hover {
  cursor: pointer;
  background: #158dd3;
}

.active {
  background: #0c78b7;
}

.swipeView {
  height: 350px;
  background: blue;
}

.first {
  background-image: url('./Images/1.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 28%;
}

.second {
  background-image: url('./Images/2.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 50%;
}

.third {
  background-image: url('./Images/3.jpg');
  background-repeat: none;
  background-size: 1000px;
  background-position-y: 50%;
}

.pageTitleContent {
  padding: 18px 0px;
}

.pageTitle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 250px;
  text-align: center;
  color: white;
  font-size: 28px;
  padding: 10px;
  background: #0c78b7;
}

.pageOwner {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 250px;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 6px;
  padding: 5px 10px;
  background: #0c78b7;
}

.title {
  border-radius: 4px;
  margin: 8px 8px 0px 0px;
  color: white;
  padding: 12px 15px;
  background: #0c78b7;
}

.contentWrapper {
  background: rgba(1, 1, 1, 0.2);
  border-radius: 4px;
  margin: 8px 8px 8px 8px;
}

.compContent {
  padding: 8px 15px 8px 15px;
  text-align: justify;
}

.tile {
  border-radius: 5px;
}

.tile-viewport {
  border-radius: 4px;
}

.tile-overlay {
  border-radius: 5px;
}

.tile-icon-bar {
  display: none;
}